@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using App.Models;
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jedzenie - @ViewData["Title"]</title>
    <link href='https://fonts.googleapis.com/css?family=Lora|Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar">
        <a asp-area="" asp-controller="Home" asp-action="Index">Główna</a>
        <a asp-area="" asp-controller="Home" asp-action=@ViewData["sharedModel.accountOrLoginTarget"]>@ViewData["sharedModel.accountOrLogin"]</a>
    </nav>
    <div class="bodyContent">
        @RenderBody()
    </div>
    <footer>
        <p>2017 &copy; Tomasz Wojtkowski. Wszelkie prawa zatrzeżone </p>
    </footer>
</body>
</html>
