<form method="post" asp-controller="Home" id="1" name="1">
    <input type="submit" id="IsAccepted" hidden asp-action="Admin" />
</form>
<script>
    document.getElementById("IsAccepted").click();
</script>